<!DOCTYPE html>
${template "head"}
${define "myHead"}
<script type="text/javascript">
    $(function (){
        var mySwiper = new Swiper('.swiper-container', {
            loop: true, // 循环模式选项
            autoplay:false,
            autoplay: {
                delay: 3000, // 3秒切换一次
            }, // 自动切换
            // 如果需要前进后退按钮
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        })
    })
</script>
${end}

<body>
${template "intro"}
</body>
